In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('responses.csv')

In [3]:
df.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [4]:
df.columns

Index(['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 'Country',
       'Classical music', 'Musical', 'Pop', 'Rock', 'Metal or Hardrock',
       ...
       'Age', 'Height', 'Weight', 'Number of siblings', 'Gender',
       'Left - right handed', 'Education', 'Only child', 'Village - town',
       'House - block of flats'],
      dtype='object', length=150)

In [5]:
df['Village - town'].value_counts()

city       707
village    299
Name: Village - town, dtype: int64

In [7]:
def village(series):
    if series == 'city':
        return 'town'
    else:
        return series
df['Village - town'] = df['Village - town'].apply(village)
df['Village - town'].value_counts()

town       707
village    299
Name: Village - town, dtype: int64

CREATING A NEW VARIABLE WITH RECODING

In [8]:
df['Age'].value_counts()

19.0    210
20.0    194
21.0    127
18.0    123
22.0     84
17.0     53
23.0     47
25.0     30
16.0     29
24.0     28
28.0     17
26.0     15
27.0     14
15.0     11
29.0     11
30.0     10
Name: Age, dtype: int64

In [10]:
def age_grp(series):
    if series < 20:
     return '15-19 years'
    elif 20 <= series <= 25:
     return '20-25 years'
    elif 26 <= series:
     return '26-20 years'
df['Age_group'] = df['Age'].apply(age_grp)
df['Age_group'].value_counts()

20-25 years    510
15-19 years    426
26-20 years     67
Name: Age_group, dtype: int64